#!/bin/bash

# For Rancher Desktop the ports should be shared with us so ..
export HOST_MACHINE=localhost
# Office private
#export DEVELOPMENT_MACHINE=192.168.1.98
# Office public
export DEVELOPMENT_MACHINE=192.168.10.124
# Home
#export DEVELOPMENT_MACHINE=192.168.0.17
export DEVELOPMENT_MACHINE_ILL_PORT=8081
export DEVELOPMENT_MACHINE_RESHARE_PORT=8081
export DEVELOPMENT_MACHINE_DIRECTORY_PORT=8080

export IS_SECURE_SUPERTENANT=Y
export ST_UN=sysadm
export ST_PW=f513eee1-cf06-478a-a91b-13fd0cac1837

export TENANT_NAME=test1
export TENANT=${TENANT_NAME}
export UN=admin
export PW=adminpass

export OKAPI_PROTOCOL="http"
export OKAPI_HOST=${HOST_MACHINE}
export OKAPI_PORT=30100
export OKAPI=${OKAPI_HOST}:${OKAPI_PORT}
export OKAPI_URL=${OKAPI_PROTOCOL}://${OKAPI_HOST}:${OKAPI_PORT}
export OKAPI_SERVICE_PORT=${OKAPI_PORT}

export DB_PORT=30101
export DB_URL=${HOST_MACHINE}:${DB_PORT}
export DB_HOST=${HOST_MACHINE}
export DB_USERNAME=okapi_1
export DB_PASSWORD=okapi_1

export KAFKA_PORT=30103
export ZOOKEEPER_PORT=30104
export EVENTS_CONSUMER_ZK_CONNECT=${HOST_MACHINE}:${ZOOKEEPER_PORT}
export EVENTS_PUBLISHER_ZK_CONNECT=${HOST_MACHINE}:${ZOOKEEPER_PORT}
export EVENTS_CONSUMER_BOOTSTRAP_SERVERS=${HOST_MACHINE}:${KAFKA_PORT}
export EVENTS_PUBLISHER_BOOTSTRAP_SERVERS=${HOST_MACHINE}:${KAFKA_PORT}

